:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --succes-color: #31d0aa;
  --text-color: #434455;
  --subtle-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--white-color);
  font-size: 16px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* HEADER  */

.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  padding: 24px 0;
}
.header-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav {
  display: flex;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);

  margin-right: 76px;
}

.accent-logo {
  color: var(--primary-brand-color);
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.nav-link {
  font-weight: 500;
  color: var(--dark-color);

  /* padding: 10px; */
}
.nav-link:hover,
.nav-link:focus {
  font-weight: 500;
  color: var(--pressed-state-color);
}

.header-contacts {
}
.contacts-list {
  display: flex;
}
.contacts-item:not(:last-child) {
  margin-right: 40px;
}
.contacts-link {
  color: var(--text-color);
  font-style: normal;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-state-color);
}

/* HERO */

.hero {
  background-color: var(--hero-background-color);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 494px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white-color);

  margin: 0 auto;
  margin-bottom: 48px;
}

.main-btn {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  margin-left: auto;
  margin-right: auto;
  display: block;
}
.main-btn:hover,
.main-btn:focus {
  background: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
}

/* FEATURES */

.features {
  padding-bottom: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.features-item {
  flex-basis: calc((100% - 72px) / 4);
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);

  margin-bottom: 8px;
}
/* ----- WHAT ARE WE DOING? ------- */

.our-work {
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);

  margin-bottom: 72px;
}
.our-work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.our-work-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* OUR TEAM */

.team {
  background-color: var(--light-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
  flex-basis: calc((100% - 24px * 3) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-link {
}
.card-description-studio {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
/* FOOTER */

.footer {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
  /* padding-left: 156px; */
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.accent-logo {
  color: var(--primary-brand-color);
}

.footer-description {
  color: var(--accent-color);
  max-width: 264px;

  margin-top: 16px;
}

/* --------PORTFOLIO FILTERS----------- */

.portfolio-filters {
  padding-top: 96px;
}
.portfolio-filters-list {
  display: flex;
  justify-content: center;
  gap: 24px;

  margin-bottom: 72px;
}
.portfolio-button-item {
}
.filter-buttons {
  font-family: "Roboto", sans-serif;
  background: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--primary-brand-color);
  cursor: pointer;

  padding: 12px 24px;
}
.filter-buttons:hover,
.filter-buttons:focus {
  background: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
}
/* --------PORTFOLIO EXAMPLES----------- */

.portfolio-examples-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.examples-item {
  width: calc((100% - 48px) / 3);
}
.examples-img {
}
.card-description-portfolio {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
}
